{% extends 'base.html' %}

{% block title %} Авторизация {% endblock %}
{% block content %}
<center><h1>Авторизация</h1></center>
    <div class="form__auth__block">
      <div class="form__auth__block__content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="notification is-error">
            <p class="form__message__error">{{ messages[0] }}
          </div>
        {% endif %}
        {% endwith %}
        <form class="form__auth__style" action="/login" method="post">
          <label>Введите вашу почту</label>
          <input type="email" name="auth_email" placeholder="Введите вашу почту" required>
          <label>Введите ваш пароль</label>
          <input type="password" name="auth_password" placeholder="Введите пароль" required>
          <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
        </form>
      </div>
    </div>
{% endblock %}