{% extends 'base.html' %}

{% block title %} Главная {% endblock %}
{% block content %}
    <center><h1>Добро пожаловать на форум RKSI !</h1></center>
    <h2 class="block__title">Возможности</h2>
    <div class="capability">
      <div class="capability__card">
        <h3 class="capability__card__title">Новости</h3>
        <p class="capability__card__description"> Здесь студенты могут узнать о предстоящих мероприятиях, конференциях, лекциях, спортивных соревнованиях и других интересных событиях, которые могут быть полезными и интересными для них.</p>
      </div>
      <div class="capability__card">
        <h3 class="capability__card__title">Студенты</h3>
        <p class="capability__card__description"> Вкладка "Студенты" на сайте представляет собой ценный ресурс для студентов, который поможет им получать актуальную информацию, общаться с единомышленниками и успешно справляться с учебными и карьерными вызовами.</p>
      </div>
       <div class="capability__card">
        <h3 class="capability__card__title">Расписание</h3>
         <p class="capability__card__description"> Эта Функция позволит студентам всегда быть в курсе своих учебных занятий. В расписании можно указать группу, преподавателей, и расписание отобразится</p>
      </div>
    </div>
{% endblock %}